

<h1>Burgers!</h1>
<div class="myDiv1"></div>
<div class="myDiv2"></div>
<div class="myDiv3"></div>
<div class="myDiv4"></div>
<div class="myDiv5"></div>

<h2>Burgers that are devour it allready!</h2>

<ul class="a">
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>



<h2> New Burger Menu enjoy !</h2>

<ul class="b">
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Your Special Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">devorit?</label><br>
    <input type="radio" name="sleepy" value="1" checked> NEW BURGER !<br>
   <!-- <input type="radio" name="sleepy" value="0"> Awake_NEW BURGER-->
  </div>

  <button type="submit">Save New_burger</button>
</form>
